@import "./color.scss";
@import "./custom-boostrap.scss";

.App {
  text-align: center;
  margin: 2em;
}

.App-logo-container {
  text-align: center;
  margin: 5em 0 2em 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

.Box-container {
  margin-left: -2em;
  margin-bottom: 1em;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  &.unapp {
    background: $primary-color;
    strong {
      color: white;
    }
    p {
      color: $secondary-color;
    }
  }
  &.app {
    border: 1px solid $primary-color;
    strong {
      color: $primary-color;
    }
    p {
      color: $secondary-color;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

ion-icon {
  &#icon-btn {
    font-size: 1.5em;
    padding: 8px;
    border: 1px solid $primary-color;
    border-radius: 10px;
    color: $secondary-color;
    margin-bottom: 0.5em;
    cursor: pointer;
  }
}
